.question-block {

}

.answers-wrapper {
    margin: 50px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.answers-wrapper .answer {
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 13px;
    margin-right: 24px;
}

.answers-wrapper .answer:last-child {
    margin-right: 0;
}

.answers-wrapper .answer-icon {
    width: 220px;
    height: 240px;
    background: #F9F9FB;
    position: relative;
}

.answers-wrapper .answer img {
    max-width: 117px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question-title {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 35px;
    line-height: 1.25;
}

.answer-name {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0 0 0;
}