.product-popup {

}

.product-popup .product-image {
    text-align: center;
}

.product-popup .product-name {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-popup .price {
    font-size: 24px;
    margin-bottom: 15px;
}

.product-popup .product-description {
    line-height: 1.5;
}

.l-columns,
.l-columns__content {
    display: none;
}

.product-popup .bottom-detail {
    padding: 20px 50px;
}

.product-popup .slick-slider {
    overflow: hidden;
}

.product-popup .slick-slider .slick-slide {
    padding: 0 10px;
}

.product-popup .slick-slider .slick-list {
    overflow: initial !important;
    width: calc(100% - 180px);
    margin: 0 -10px;
}

.product-popup .bottom-btn-bar {
    margin-top: 20px;
}

.product-popup .get-product {
    display: block;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
    font-size: 14px;
    padding: 17px 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background: #212529;
    color: #fff;
}

.preview-row {
    outline: none;
}