.slider-row-result {
    padding: 0 30px;
    background: #FDEFD9;
    margin-top: 330px;
}

.slider-row-result .heading {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 10px;
}

.slider-row-result .slick-slider {
    overflow: hidden;
}

.slider-row-result .slick-slider .slick-arrow {
    display: none !important;
}

.slider-row-result .slick-slider .slick-list {
    overflow: initial !important;
    width: calc(100% - 180px);
    margin: 0 -10px;
}


.slider-row-result .slick-slider .slick-slide {
    padding: 0 10px;
}

.slider-row-result .slick-slider .product {
    background: #fff;
}

.slick-slide img {
    width: 100%;
}

.slider-row-result .slider-wrapper {
    position: relative;
    top: -90px;
}

.slider-row-result .slick-slider .product .bottom-detail {
    padding: 20px 25px;
}

.slider-row-result .slick-slider .product .product-name {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}

.slider-row-result .slick-slider .product .product-description {
    font-size: 14px;
    line-height: 1.5;
    margin: 15px 0;
}

.slider-row-result .slick-slider .product .bottom-btn-bar {

}

.slider-row-result .slick-slider .product .bottom-btn-bar .btn {
    display: block;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
    font-size: 12px;
    padding: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    height: 42px;
}

.slider-row-result .slick-slider .product .bottom-btn-bar .btn.get-full-detail {
    border: 2px solid #212529;
    background: none;
    color: #212529;
    margin-bottom: 10px;
}

.slider-row-result .slick-slider .product .bottom-btn-bar .btn.get-product {
    background: #212529;
    color: #fff;
}
