.modal {
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    z-index: 10;
    max-width: 800px;
    width: 100%;
    opacity: 0;
    transform: translateX(-50%);
    animation: fadeinPopUp 0.5s ease-in forwards;
    animation-delay: 1s;
}

.overlap-modal {
    content: '';
    position: absolute;
    left: -100px;
    right: -100px;
    top: -100px;
    bottom: -100px;
    z-index: 1;
    animation: overlapPopUp 0.8s ease-in forwards;
}

@keyframes fadeinPopUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 300px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes overlapPopUp {
    0% {
        background: none;
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(20px);
        background: rgba(0, 0, 0, 0.8)
    }
}