.top-toolbar {
    text-align: left;
    position: absolute;
    left: 50px;
    top: 40px;
    z-index: 5;
    opacity: 0;
    animation: fadeinToolbar .7s ease-in forwards;
    animation-delay: 1.4s;
}

.second-toolbar {
    text-align: left;
    position: absolute;
    left: 50px;
    top: 80px;
    z-index: 5;
    opacity: 0;
    animation: fadeinToolbar .7s ease-in forwards;
    animation-delay: 1.4s;
}

.btn-prev {
    font-family: 'Mont', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #212529;
    letter-spacing: 1px;
    cursor: pointer;
    background: none;
    outline: none;
    padding: 0;
}

.btn-prev:hover {
    background: none !important;
    color: #212529 !important;
}

.btn-prev:before {
    content: '';
    width: 30px;
    height: 13px;
    position: relative;
    left: 0;
    top: -2px;
    margin-right: 6px;
    vertical-align: middle;
    display: inline-block;
    background: url(../../media/prev-icon.png) no-repeat;
    background-size: 30px 13px;
    transition: 0.4s;
}

.btn-prev:after {
    display: none !important;
}

.summary-step .top-toolbar {
    left: 30px;
    top: 30px;
    background: none;
    height: auto;
    padding: 0;
}

.summary-step .second-toolbar {
    left: 30px;
    top: 60px;
}

.summary-step .btn-prev {
    color: #fff !important;
}
.summary-step.no-products .btn-prev {
    color: #212529 !important;
}

.summary-step.no-products  .top-toolbar {
    left: 50px;
    top: 40px;
}

.summary-step.no-products  .second-toolbar {
    left: 50px;
    top: 80px;
}

.summary-step .btn-prev:before {
    background: url(../../media/prev-white-icon.png) no-repeat;
    background-size: 30px 13px;
}

.summary-step.no-products  .btn-prev:before {
    background: url(../../media/prev-icon.png) no-repeat;
    background-size: 30px 13px;
}

@media screen and (max-width: 767px) {
    .top-toolbar {
        position: fixed;
        left: 15px;
        top: 15px;
        right: 15px;
        height: 40px;
        background: #fff;
        padding: 15px 15px 0 15px;
    }

    .second-toolbar {
        left: 30px;
        top: 60px;
        position: fixed;
    }
}

@keyframes fadeinToolbar {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}