* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
    max-width: 100%;
}

.in-lite-advisor {
    background: url('../../media/main-image.f216d9a8.jpg') no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    background-attachment: fixed;
    display: flex;
    animation: slideInUp 0.7s cubic-bezier(.02, .46, .25, .83) forwards;
    overflow: hidden;
}

.in-lite-advisor-wrapper {
    margin: auto;
}

.steps-wrapper {
    height: 730px;
    width: 1000px;
    max-height: 730px;
    background: #fff;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.main-wrapper .head-title {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 1.25;
    font-size: 38px;
    letter-spacing: 0.5px;
    padding: 0 17%;
}

.main-wrapper .btn-next {
    background: #000;
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    border: none;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    height: 50px;
    min-width: 230px;
    padding: 0 15px;
    border-radius: 3px;
}

.main-wrapper .btn-next:after {
    display: none !important;
}

.main-wrapper {
    text-align: center;
}

.steps-wrapper .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

.steps-wrapper .progress-bar li {
    height: 15px;
    width: 0;
    background: rgba(176, 194, 139, 1);
    margin: 0;
}

.steps-wrapper .progress-bar li:first-child,
.steps-wrapper .progress-bar li:last-child {
    display: none;
}

.steps-wrapper .progress-bar li.progerss-bar-done {
    transition: 0.5s;
    width: 20%;
}

.steps-wrapper .animation-area {
    opacity: 0;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .main-wrapper {
        text-align: center;
        padding: 0 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

@media screen and (max-width: 1025px) {
    .in-lite-advisor {
        padding: 40px;
    }

    .overlap-modal,
    .steps-wrapper.SummaryStep:after {
        left: -40px;
        right: -40px;
        top: -40px;
        bottom: -40px;
    }
}

@media screen and (max-width: 1023px) {
    .main-wrapper .head-title {
        padding: 0 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .steps-wrapper {
        height: 680px;
        min-height: 680px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .steps-wrapper .progress-bar {
        position: fixed;
        left: 15px;
        right: 15px;
        bottom: 15px;
        background: #fff;
    }

    .in-lite-advisor {
        padding: 15px;
    }

    .main-wrapper {
        display: table;
        height: 100%;
        width: 100%;
        padding: 60px 15px 30px 15px;
    }

    .main-wrapper .animation-area {
        display: table-cell;
        vertical-align: middle;
    }

    .main-wrapper .head-title {
        font-size: 24px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    .steps-wrapper {
        width: 100%;
        max-height: calc(100vh - 30px);
        min-height: calc(100vh - 30px);
        overflow: scroll;
    }

    .main-wrapper .btn-next {
        font-size: 14px;
    }

}

@media screen and (max-width: 370px) {
    .main-wrapper .head-title {
        padding: 0;
    }
}

/**animation**/

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeinFistStep {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 80px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
