
.products-result .first-row-result {
    background: url('../../../../media/summary-bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 24%;
}

.products-result .first-row-result .preview-row {
    background: #343E48;
    color: #fff;
    max-width: 560px;
    margin: 0 auto;
    position: relative;
    bottom: -170px;
    box-sizing: border-box;
    padding: 50px 130px 50px 30px;
}

.products-result .first-row-result .preview-row .product-name {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 40px;
}

.products-result .first-row-result .preview-row .product-description {
    line-height: 1.5;
    margin: 15px 0 ;
}

.products-result .first-row-result .product-image {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.products-result .first-row-result .product-image img {
    max-width: 120px;
}

.products-result .first-row-result .bottom-btn-bar {

}

.products-result .first-row-result .bottom-btn-bar .btn {
    border: none;
    text-transform: uppercase;
    border-radius: 3px;
    background: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 13px;
    height: 39px;
    display: inline-block;
    vertical-align: top;
}

.products-result .first-row-result .bottom-btn-bar .btn.get-product {
    background: #fff;
    color: #343e48;
    margin-right: 20px;
}

.products-result .first-row-result .bottom-btn-bar .btn {
    color: #fff;
    border: 2px solid #fff;
}

.products-result .first-row-result .slick-slider {
    display: none;
}