.in-lite-advisor.last-step {
    height: auto;
}

.summary-step {
    position: relative;
    z-index: 1;
    background: #fff;
}

.summary-step .top-toolbar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.products-result {

}

.steps-wrapper.Step5 {
    height: auto;
    position: relative;
    margin: 0 auto;
    left: 0;
    top: 0;
    transform: translate(0, 0);
}

.steps-wrapper.Step5:after {
    content: '';
    position: absolute;
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.8);
    left: -100px;
    right: -100px;
    top: -100px;
    bottom: -100px;
}

.steps-wrapper.Step5 .progress-bar {
    display: none;
}

.product-usp {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.product-usp li {
    position: relative;
    padding-left: 18px;
    margin: 0 0 10px 0;
}

.product-usp li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    background: url(../../../media/green-checkmark.svg) no-repeat;
    width: 10px;
    height: 9px;
    background-size: 10px 9px;
}

.product-popup .product-usp {
    font-size: 16px;
}

.slick-slider .slick-dots {
    position: relative;
    margin: 0;
    bottom: 0;
    display: flex !important;
    height: 3px;
}

.slick-slider .slick-dots > li {
    margin: 0;
    flex-grow: 1;
    width: auto;
    height: 3px;
}

.slick-slider .slick-dots > li button {
    width: 100%;
    padding: 0;
    height: 3px;
    background: rgba(33,37,41,.1);
    vertical-align: top;
}

.slick-slider .slick-dots > li.slick-active button {
    background: #212529;

}